.container {
  width: 100vw;
  min-height: 100vh;
  padding: 67px 20px 0 20px;
  box-sizing: border-box;
  /* display: flex; */
  color: #fff;
  background: linear-gradient(180deg, #304186 0%, #0f113c 100%);
}

.title {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 10px 0;
  width: 92vw;
  margin: auto;
  color: #fff;
}
.container_list {
  /* margin: 0 auto; */
}
.list {
  margin-bottom: 15px;
  border-radius: 5px;

  background: linear-gradient(180deg, #4e177f 0%, #1c1e4e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}
.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}
.list_item_title {

  border-radius: 5px;

  background: rgba(255, 255, 255, 0.21);
  margin-bottom: 10px;
}

.nft_name {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.nfg_itemName {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
  color: rgba(255, 255, 255, 1);
}
.new {
  background: rgba(97, 74, 136, 1);
  font-size: 15px;
  font-weight: 700;

  color: rgba(255, 255, 255, 0.5);

  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}
.pledge {
  color: #fff;
  background: linear-gradient(90deg, #3220d0 0%, #f61a7e 100%);
  font-size: 15px;
  font-weight: 700;
width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}
.fl {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); /* 自适应宽度，至少150px宽，多余空间均分 */
  gap: 10px; /* 控制网格项之间的间距 */
  justify-content: start; /* 多余空间靠左 */
}
