/* ClaimRecord.module.css */

.container {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  background: linear-gradient(180deg, #304186 0%, #0f113c 100%);
}

.ispledge_box {
  height: 161px;
}

.padding_box {
  padding: 72px 14px 12px 14px;
}

.title_left {
  padding-left: 2px;
  font-size: 20px;
  font-weight: 700;
}

.title_right {
  font-size: 13px;
  font-weight: 400;
  color: rgba(135, 135, 135, 1);
}

.title {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}

.content {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 349px;
  height: 161px;
  background: rgba(35, 29, 85, 1);
}

.item {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 321px;
  margin: 0 auto;
}

.item_left {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.item_right {
  font-weight: 600;
}

.withdraw {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: fixed;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
  width: 350px;
  height: 40px;
  background: rgba(135, 135, 135, 1);
  border-radius: 10px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 700;
}

.withdraw_icon {
  width: 20px;
  height: 18px;
  margin-right: 8px;
}

.content_root {
  display: flex;
  align-items: center;
  flex-direction: column;
}
