@tailwind base;
@tailwind components;
@tailwind utilities;
@import './reset.css';

html {
  min-height: 100vh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

strong,
b {
  font-weight: 700;
}

body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #00000000;
  color: #536471;

  .main {
    position: relative;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 0.1px;
    padding-bottom: 20px;
  }
}

.slick-dots li {
  margin: 0 3px;
  width: 80px!important;
}
.slick-dots{
  bottom: -4px!important;
}
.slick-dots li button {
  font-size: 0; /* 移除默认按钮中的内容 (即'•') */
  line-height: 0;
  border-radius: 35px;
  width: 80px!important;
  height: 3px; /* 横杠高度 */
  padding: 0;
  border: none;
  background-color: #fff; /* 设置横杠的颜色 */
}
/* 调整dots为横条形状 */
.slick-dots li button:before {
  content: ''; /* 移除默认的内容 */
  display: block;
  width: 80px; /* 横条的宽度 */
  height: 3px; /* 横条的高度 */
  background-color: gray; /* 横条的默认颜色 */
}

/* 当dot处于激活状态时的样式 */
.slick-dots li.slick-active button:before {
  background-color: #F21A80; /* 当前选中的横条的颜色 */
}

