.container {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  background: linear-gradient(180deg, #304186 0%, #0f113c 100%);
}
.padding_box {
  padding: 12px 14px 12px 14px;
}
.title_left {
  padding-left: 2px;
  font-size: 20px;
  font-weight: 700;
}
.title_right {
  font-size: 13px;
  font-weight: 400;
  color: rgba(135, 135, 135, 1);
}
.title {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}
.ispledge_box {
  border-radius: 5px;
  /* margin-top: 36px; */
  width: 349px;
  height: 114px;
  margin: 0 auto;
  background: linear-gradient(180deg, #4e177f 0%, #1c1e4e 100%);
}
.ispledge_title {
  display: flex;
  justify-content: space-between;
}
.redeemable {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.ispledge_title {
  width: 321px;
  height: 18px;
  padding: 10px 15px 6px 15px;
}
.number {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
.bottom {
  font-weight: 700;
  margin: 25px auto;
  width: 322px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  font-weight: 700px;
  text-align: center;
  border-radius: 5px;
  line-height: 40px;
  background: linear-gradient(90deg, #3220d0 0%, #f61a7e 100%);
}
/* pledge.css */

.custom_link {
  color: inherit; /* 使用父元素的文字颜色 */
  text-decoration: none; /* 去除下划线 */
}

.custom_link:hover {
  /* 可选：设置鼠标悬停时的样式 */
  text-decoration: underline; /* 悬停时显示下划线 */
}
.withdraw {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: fixed;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
  width: 350px;
  height: 40px;
  background: rgba(135, 135, 135, 1);
  border-radius: 10px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 700;
}
.withdraw_icon {
  width: 20px;
  height: 18px;
  margin-right: 8px;
}
